
.skin-black .main-header > .logo {
    background-color: #222d32 !important;
    color: #f4f4f4 !important;
    border-bottom: 0 solid transparent;
    border-right: 1px solid #222d32 !important;
}
.content-wrapper {
    background-color: #dcdcdc !important;
}

.skin-black .wrapper, .skin-black .main-sidebar, .skin-black .left-side {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
}

.sidebar-menu {
    margin: 10px;
}
.sidebar-collapse .sidebar-menu {
    margin: 0px;
}

    .sidebar-collapse .sidebar-menu .mi {
        font: normal normal normal 14px/1 micon;
    }
.sidebar-menu .mi {
    width: 30px;
    vertical-align: -30%;
}
.treeview-menu .mi {
    width: 20px;
    vertical-align: -15%;
}