@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">


        @await Html.PartialAsync("_LoginPartial")

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            @if (SignInManager.IsSignedIn(User))
            {
                <li is-active-route asp-controller="Home" asp-action="Index">
                    <a asp-area="Portal" asp-controller="Home" asp-action="Index">
                        <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                    </a>
                </li>
                <li class="treeview" is-active-menu asp-controllers="Menus,Themes">
                    <a href="#">
                        <i class="fa fa-paint-brush"></i>
                        <span>Apperance</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Menus" asp-action="Index"><a asp-area="Portal" asp-controller="Menus" asp-action="Index"><i class="fa fa-navicon"></i> Menus</a></li>
                        <li is-active-route asp-controller="Themes" asp-action="Index"><a asp-area="Portal" asp-controller="Themes" asp-action="Index"><i class="fa fa-pencil-square-o"></i> Themes</a></li>
                    </ul>
                </li>

                <li class="treeview" is-active-menu asp-controllers="Contents">
                    <a href="#">
                        <i class="fa fa-file-text-o"></i> <span>Contents</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Contents" asp-action="AddArticle"><a asp-area="Portal" asp-controller="Contents" asp-action="AddArticle"><i class="fa fa-plus"></i> Add New</a></li>
                        <li is-active-route asp-controller="Contents" asp-action="Articles"><a asp-area="Portal" asp-controller="Contents" asp-action="Articles"><i class="fa fa-list"></i> Articles</a></li>
                        <li><a href="#"><i class="fa fa-folder-o"></i> Categories</a></li>
                        <li><a href="#"><i class="fa fa-tags"></i> Tags</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i> <span>Pages</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-plus"></i> Add New</a></li>
                        <li><a href="#"><i class="fa fa-files-o"></i> All Pages</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-file-image-o"></i> <span>Media</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-plus"></i> Add New</a></li>
                        <li><a href="#"><i class="fa fa-files-o"></i> All Files</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-users"></i> <span>Collaborators</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-user-plus"></i> Add Member</a></li>
                        <li><a href="#"><i class="fa fa-users"></i> All Members</a></li>
                        <li><a href="#"><i class="fa fa-sitemap"></i> Roles</a></li>
                        <li><a href="#"><i class="fa fa-shield"></i> Permission</a></li>
                    </ul>
                </li>

                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-gear"></i> <span>Setting</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="fa fa-cube"></i> Generals</a></li>
                        <li><a href="#"><i class="fa fa-language"></i> Cultures</a></li>
                    </ul>
                </li>
                
            }
            else
            {
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Permission denied</span></a></li>
            }
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>