@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
}

<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar" style="height: auto;">


        @await Html.PartialAsync("_LoginPartial")

        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>

            @if (SignInManager.IsSignedIn(User))
            {
                <li is-active-route asp-controller="Home" asp-action="Index">
                    <a asp-area="Portal" asp-controller="Home" asp-action="Index">
                        <i class="mi mi-HomeGroup mi-lg"></i> <span>Dashboard</span>
                    </a>
                </li>

                <li class="treeview" is-active-menu asp-controllers="Contents">
                    <a href="#">
                        <i class="mi mi-ReadingList mi-lg"></i> <span>Contents</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Contents" asp-action="AddArticle"><a asp-area="Portal" asp-controller="Contents" asp-action="AddArticle"><i class="mi mi-Add"></i> Add New</a></li>
                        <li is-active-route asp-controller="Contents" asp-action="Articles"><a asp-area="Portal" asp-controller="Contents" asp-action="Articles"><i class="mi mi-Library"></i> Articles</a></li>
                        <li is-active-route asp-controller="Contents" asp-action="Categories"><a asp-area="Portal" asp-controller="Contents" asp-action="Categories"><i class="mi mi-Folder"></i> Categories</a></li>
                        <li is-active-route asp-controller="Contents" asp-action="Tags"><a asp-area="Portal" asp-controller="Contents" asp-action="Categories"><i class="mi mi-Tag"></i> Tags</a></li>
                    </ul>
                </li>
                <li class="treeview" is-active-menu asp-controllers="Pages">
                    <a href="#">
                        <i class="mi mi-MapLayers mi-lg"></i> <span>Pages</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Pages" asp-action="AddPage"><a asp-area="Portal" asp-controller="Pages" asp-action="AddPage"><i class="mi mi-Add"></i> Add New</a></li>
                        <li is-active-route asp-controller="Pages" asp-action="Index"><a asp-area="Portal" asp-controller="Pages" asp-action="Index"><i class="mi mi-FileExplorer"></i> All Pages</a></li>
                    </ul>
                </li>

                <li class="treeview" is-active-menu asp-controllers="Media">
                    <a href="#">
                        <i class="mi mi-Media mi-lg"></i> <span>Media</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Media" asp-action="AddFile"><a asp-area="Portal" asp-controller="Media" asp-action="AddFile"><i class="mi mi-Add"></i> Add New</a></li>
                        <li is-active-route asp-controller="Media" asp-action="Files"><a asp-area="Portal" asp-controller="Media" asp-action="Files"><i class="mi mi-FileExplorer"></i> All Files</a></li>
                    </ul>
                </li>

                <li class="treeview" is-active-menu asp-controllers="Collaborators">
                    <a href="#">
                        <i class="mi mi-People mi-lg"></i> <span>Collaborators</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Collaborators" asp-action="AddMember"><a asp-area="Portal" asp-controller="Collaborators" asp-action="AddMember"><i class="mi mi-AddFriend"></i> Add Member</a></li>
                        <li is-active-route asp-controller="Collaborators" asp-action="Members"><a asp-area="Portal" asp-controller="Collaborators" asp-action="Members"><i class="mi mi-People"></i> All Members</a></li>
                        <li is-active-route asp-controller="Collaborators" asp-action="Roles"><a asp-area="Portal" asp-controller="Collaborators" asp-action="Roles"><i class="mi mi-Work"></i> Roles</a></li>
                        <li is-active-route asp-controller="Collaborators" asp-action="Permission"><a asp-area="Portal" asp-controller="Collaborators" asp-action="Permission"><i class="mi mi-ReportHacked"></i> Permission</a></li>
                    </ul>
                </li>
                <li class="treeview" is-active-menu asp-controllers="Apperance">
                    <a href="#">
                        <i class="mi mi-LayoutLegacy mi-lg"></i>
                        <span>Apperance</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Apperance" asp-action="Menus"><a asp-area="Portal" asp-controller="Apperance" asp-action="Menus"><i class="mi mi-GlobalNavButton"></i> Menus</a></li>
                        <li is-active-route asp-controller="Apperance" asp-action="Themes"><a asp-area="Portal" asp-controller="Apperance" asp-action="Themes"><i class="mi mi-Color"></i> Themes</a></li>
                    </ul>
                </li>

                <li class="treeview" is-active-menu asp-controllers="Setting">
                    <a href="#">
                        <i class="mi mi-Repair mi-lg"></i> <span>Setting</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-left pull-right"></i>
                        </span>
                    </a>
                    <ul class="treeview-menu">
                        <li is-active-route asp-controller="Setting" asp-action="Generals"><a asp-area="Portal" asp-controller="Setting" asp-action="Generals"><i class="mi mi-DeveloperTools"></i> Generals</a></li>
                        <li is-active-route asp-controller="Setting" asp-action="Cultures"><a asp-area="Portal" asp-controller="Setting" asp-action="Cultures"><i class="mi mi-Characters"></i> Cultures</a></li>
                    </ul>
                </li>
                
            }
            else
            {
                <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Permission denied</span></a></li>
            }
        </ul>

    </section>
    <!-- /.sidebar -->
</aside>