@{
    ViewData["Title"] = "Add New Article";
    ViewData["Description"] = "Your articles";
}


<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-9">
    </section>

    <section class="col-lg-3"></section>
</div>
<!-- /.row (main row) -->