@{
    ViewData["Title"] = "Home Page";
}

<div class="section section-images">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hero-images-container">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/hero-image-1.png" alt="">
                </div>
                <div class="hero-images-container-1">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/hero-image-2.png" alt="">
                </div>
                <div class="hero-images-container-2">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/hero-image-3.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-nucleo-icons">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <h2 class="title">Nucleo Icons</h2>
                <h5 class="description">
                    Now UI Kit comes with 100 custom icons made by our friends from NucleoApp. The official package contains over 2.100 thin icons which are looking great in combination with Now UI Kit Make sure you check all of them and use those that you like the most.
                </h5>
                <!-- <div class="nucleo-container">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/nucleo.svg" alt="">
                </div> -->
                <a href="nucleo-icons.html" class="btn btn-primary btn-round btn-lg" target="_blank">View Demo Icons</a>
                <a href="https://nucleoapp.com/?ref=creativetim" class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All Icons</a>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="icons-container">
                    <i class="now-ui-icons ui-1_send"></i>
                    <i class="now-ui-icons ui-2_like"></i>
                    <i class="now-ui-icons transportation_air-baloon"></i>
                    <i class="now-ui-icons text_bold"></i>
                    <i class="now-ui-icons tech_headphones"></i>
                    <i class="now-ui-icons emoticons_satisfied"></i>
                    <i class="now-ui-icons shopping_cart-simple"></i>
                    <i class="now-ui-icons objects_spaceship"></i>
                    <i class="now-ui-icons media-2_note-03"></i>
                    <i class="now-ui-icons ui-2_favourite-28"></i>
                    <i class="now-ui-icons design_palette"></i>
                    <i class="now-ui-icons clothes_tie-bow"></i>
                    <i class="now-ui-icons location_pin"></i>
                    <i class="now-ui-icons objects_key-25"></i>
                    <i class="now-ui-icons travel_istanbul"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container text-center">
        <div class="row justify-content-md-center">
            <div class="col-md-12 col-lg-8">
                <h2 class="title">Completed with examples</h2>
                <h5 class="description">The kit comes with three pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 ui kit.</h4>
            </div>
        </div>
    </div>
</div>
<div class="section section-signup" style="background-image: url('assets/img/bg11.jpg'); background-size: cover; background-position: top center; min-height: 700px;">
    <div class="container">
        <div class="row">
            <div class="card card-signup" data-background-color="orange">
                <form class="form" method="" action="">
                    <div class="header header-primary text-center">
                        <h4 class="title title-up">Sign Up</h4>
                        <div class="social-line">
                            <a href="#pablo" class="btn btn-neutral btn-facebook btn-icon btn-icon-mini">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-twitter btn-icon">
                                <i class="fa fa-twitter"></i>
                            </a>
                            <a href="#pablo" class="btn btn-neutral btn-google btn-icon  btn-icon-mini">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="content">
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons users_circle-08"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="First Name...">
                        </div>
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_email-85"></i>
                            </span>
                            <input type="text" class="form-control" placeholder="Email...">
                        </div>
                        <div class="input-group form-group-no-border">
                            <span class="input-group-addon">
                                <i class="now-ui-icons ui-1_lock-circle-open"></i>
                            </span>
                            <input type="password" placeholder="Password..." class="form-control" />
                        </div>
                        <!-- If you want to add a checkbox to this form, uncomment this code -->
                        <!-- <div class="checkbox">
                        <input id="checkboxSignup" type="checkbox">
                            <label for="checkboxSignup">
                            Unchecked
                            </label>
                        </div> -->
                    </div>
                    <div class="footer text-center">
                        <a href="#pablo" class="btn btn-neutral btn-round btn-lg">Get Started</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col text-center">
            <a href="examples/login-page.html" class="btn btn-simple btn-round btn-white btn-lg" target="_blank">View Login Page</a>
        </div>
    </div>
</div>
<div class="section section-examples" data-background-color="black">
    <div class="space-50"></div>
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <a href="examples/landing-page.html" target="_blank">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/landing.jpg" alt="Image" class="img-raised">
                </a>
                <a href="examples/landing-page.html" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
            </div>
            <div class="col">
                <a href="examples/profile-page.html" target="_blank">
                    <img src="~/lib/now-ui-kit-v1.0.1/assets/img/profile.jpg" alt="Image" class="img-raised">
                </a>
                <a href="examples/profile-page.html" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
            </div>
        </div>
    </div>
</div>
<div class="section section-download" id="#download-section" data-background-color="black">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3 class="title">Do you love this Bootstrap 4 UI Kit?</h3>
                <h5 class="description">Cause if you do, it can be yours for FREE. Hit the button below to navigate to Creative Tim or Invision where you can find the kit in HTML or Sketch/PSD format. Start a new project or give an old Bootstrap project a new look!</h5>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a href="https://www.creative-tim.com/product/now-ui-kit" class="btn btn-primary btn-lg btn-round" role="button">
                    Download HTML
                </a>
                <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                    Download PSD/Sketch
                </a>
            </div>
        </div>
        <br>
        <br>
        <div class="row justify-content-md-center sharing-area text-center">
            <div class="text-center col-md-12 col-lg-8">
                <h3>Thank you for supporting us!</h3>
            </div>
            <div class="text-center col-md-12 col-lg-8">
                <a href="#pablo" class="btn btn-neutral btn-icon btn-twitter twitter-sharrre" rel="tooltip" title="Tweet!">
                    <i class="fa fa-twitter"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-icon btn-facebook facebook-sharrre" rel="tooltip" title="Share!">
                    <i class="fa fa-facebook-square"></i>
                </a>
                <a href="#pablo" class="btn btn-neutral btn-icon btn-linkedin linkedin-sharrre" rel="tooltip" title="Share!">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://github.com/creativetimofficial/now-ui-kit" class="btn btn-neutral btn-icon btn-github" rel="tooltip" title="Star on Github">
                    <i class="fa fa-github"></i>
                </a>
            </div>
        </div>
    </div>
</div>